<h1>
    upload a file
</h1>
<form action="/upload" method="post" enctype=multipart/form-data> Name<input type=text name="username">
    <br>
    Name<input type="file" name="file" multiple>
    Name<input type="submit">
</form> 